In [1]:
import pandas as pd
config = pd.read_csv('elenakosmas_accessKeys.csv') #Make sure file is saved to working directory
access_key = config.loc[0, 'Access key ID']
secret_key = config.loc[0, 'Secret access key']
region = 'us-east-1'

In [2]:
import awswrangler as wr #May need to pip install for first use.
import boto3 #May need to pip install for first use.
import pandas as pd
import numpy as np

In [3]:
pip install awswrangler

Requirement already satisfied: awswrangler in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (3.9.1)
Requirement already satisfied: botocore<2.0.0,>=1.23.32 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (1.35.24)
Requirement already satisfied: pyarrow>=8.0.0 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (14.0.1)
Requirement already satisfied: pandas<3.0.0,>=1.2.0 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (1.5.3)
Requirement already satisfied: typing-extensions<5.0.0,>=4.4.0 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (4.9.0)
Requirement already satisfied: numpy<2.0,>=1.18 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (1.23.5)
Requirement already satisfied: packaging<25.0,>=21.1 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (22.0)
Requirement already satisfied: boto3<2.0.0,>=1.20.32 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from awswrangler) (1.35.24)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from boto3<2.0.0,>=1.20.32->awswrangler) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from botocore<2.0.0,>=1.23.32->awswrangler) (1.26.14)
Requirement already satisfied: pytz>=2020.1 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from pandas<3.0.0,>=1.2.0->awswrangler) (2022.7)
Requirement already satisfied: six>=1.5 in /Users/elenakosmas/anaconda3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.23.32->awswrangler) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#S3 Client
s3_client = boto3.client(
    's3',
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key,
    region_name=region)

In [5]:
#Displaying all the buckets in AWS Account.
buckets = s3_client.list_buckets()

for bucket in buckets['Buckets']:
    print(bucket['Name'])

capstone1ek

In [6]:

#Go to desired bucket. 
bucket_name = 'capstone1ek'

# List the objects in your bucket
response = s3_client.list_objects_v2(Bucket=bucket_name)

# Check if the response contains 'Contents'
if 'Contents' in response:
    # Print out the object keys
    for obj in response['Contents']:
        print(obj['Key'])
else:
    print('No objects found in the bucket.')

cpv_Q12022.csv
cpv_Q12023.csv
cpv_Q22022.csv
cpv_Q22023.csv
cpv_Q32022.csv
cpv_Q32023.csv
cpv_Q42022.csv
cpv_Q42023.csv

In [7]:
s3_path1 = 's3://capstone1ek/cpv_Q12022.csv'
s3_path2 = 's3://capstone1ek/cpv_Q12023.csv'
s3_path3 = 's3://capstone1ek/cpv_Q22022.csv'
s3_path4 = 's3://capstone1ek/cpv_Q22023.csv'
s3_path5 = 's3://capstone1ek/cpv_Q32022.csv'
s3_path6 = 's3://capstone1ek/cpv_Q32023.csv'
s3_path7 = 's3://capstone1ek/cpv_Q42022.csv'
s3_path8 = 's3://capstone1ek/cpv_Q42023.csv'

In [8]:
#Create boto3_session for AWS Wrangler
boto3_session = boto3.Session(
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key,
    region_name=region
)

In [9]:
# Read Q1 2022 Data
Q122_df = wr.s3.read_csv(path=s3_path1, boto3_session=boto3_session)
# Read Q1 2023 Data
Q123_df = wr.s3.read_csv(path=s3_path2, boto3_session=boto3_session)

/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)
/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)

In [10]:
# Read Q2 2022 Data
Q222_df = wr.s3.read_csv(path=s3_path3, boto3_session=boto3_session)
# Read Q2 2023 Data
Q223_df = wr.s3.read_csv(path=s3_path4, boto3_session=boto3_session)

/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)
/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)

In [11]:
# Read Q3 2022 Data
Q322_df = wr.s3.read_csv(path=s3_path5, boto3_session=boto3_session)

# Read Q3 2023 Data
Q323_df = wr.s3.read_csv(path=s3_path6, boto3_session=boto3_session)

/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)
/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)

In [12]:
# Read Q4 2022 Data
Q422_df = wr.s3.read_csv(path=s3_path7, boto3_session=boto3_session)

# Read Q4 2023 Data
Q423_df = wr.s3.read_csv(path=s3_path8, boto3_session=boto3_session)

/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)
/Users/elenakosmas/anaconda3/lib/python3.10/site-packages/awswrangler/s3/_read_text_core.py:115: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df: pd.DataFrame = parser_func(f, **pandas_kwargs)

In [13]:
df = pd.concat([Q122_df, Q123_df,Q222_df, Q223_df,Q322_df, Q323_df,Q422_df, Q423_df,], ignore_index=True)

#Check dimensions.
df.shape


#Check data types
print(df.dtypes)

Month                                object
Year                                  int64
Program                              object
Program - Network                    object
Episode                              object
Partner - Network                    object
Series ID                           float64
Program ID Key                        int64
Partner - Episode                    object
Partner - Program                    object
Partner - Episode Duration            int64
Partner - Name                       object
Partner - Platform                   object
Partner - Device                     object
Partner - Demo                       object
Partner - Rating Source              object
Partner - Viewer Code                object
Program - Broadcast Length            int64
Program - Broadcast Length SSSSS      int64
Exposures                           float64
Minutes Viewed                      float64
Program - Current Premiere Date      object
Program - Air Title                  object
Program - Budget Line                object
Program - Category                   object
Program - Episode Number            float64
Program - External Air Order        float64
Program - External Season           float64
Program - Franchise                  object
Program - Genre Name                 object
Program - Is Special                float64
Program - Mega Genre                 object
Program - Network Name               object
Program - PAC ID                    float64
Program - PAC Title                  object
Program - Premiere Network Code      object
Program - Production Year           float64
Program - Type                       object
Program - ID                        float64
Program - Status                     object
Program - Series Code                object
Program - Series ID                 float64
Program - Series Name                object
Program - Long Form/Short Form       object
Program - Sub Category               object
Program - Supplier                   object
Program - TMS ID                     object
Year and Month                       object
Partner - Data Type                  object
Program Sub-Type                     object
NO.of Scheduled Minutes               int64
NO.of Telecasts                       int64
Distinct Episode                      int64
# of Episode                          int64
dtype: object

In [14]:
# ### Prepare for Data Wrangling: Notes from Sponsor
# 
# #### Show Types to focus on: 
# 1. Legacy Series In-Premiere: Defined as a series with more than two season available. The new season is only available on 1st/2nd window platforms, but the library is available on 1st/2nd/3rd window platforms.
# 2. New Series In-Premiere: Defined as a series with less than two seasons. Generally, they are only available on 1st/2nd window platforms. If in its 2nd season, there could be a season one available on 1st/2nd/3rd window platforms, but I can’t think of any that happened like that in FY22/FY23 (aka the data you will be working with).
# 
# #### Show Types to exclude:
# 1. Movies/Specials
# 2. Non-Returning/Cancelled series (ie Dog the Bounty Hunter, and even Dance Moms eventhoug they are trying to revive that this year)
# 
# 
# #### Ad-Sales Platforms to focus on:
# 1. Live +7: This drives about 90% of the total Ad-Sales P2+ mins (this data is generally complete b/c it comes from Nielsen)
# 2. Non-Linear: These top partners drive 80%-90% of the Ad-Sales Non-Linear P2+ Mins. Would try to ensure that the data here is complete and makes sense. I recently had to pull Ad-sales non-linear data for a presentation and attached was my data pull. Thought this would be helpful so you can see the scale of all the platforms at a high level.
#     a. On Demand:
#         (1) O&O
#         (2) vMVPD Hulu Live: HUGE NOTE: Will explain more in person, but we have licensed a large amount of our library content to Hulu SVOD, therefore that inventory does not live on Hulu Live for ad-sales to monetize. (i.e. all Alone library lives on Hulu SVOD, and only the new Alone season is available on Hulu Live each year).
#         (3) vMVPD Philo
#         (4) vMVPD SlingTV
#         (5) STB VOD4+ Comcast
#     b. FAST: Samsung
#     
# #### Primary Levers to focus: 
# 
# 1. Paid Media - Sent by Cristina
# 2. Organic Social Media (A+E under impression that Hoya 2 will retrieve this)
# 3. Partner Earned Media (Still pending with A+E)
# 4. O&O IFW Content - Sent by Cristina
# 5. 3rd Windowing Platforms (FAST/SVOD/AVOD) - Available via CP Data
#

In [15]:
# ##### Focusing on New / Returning Shows

In [16]:
# In[24]:

df['Program - Current Premiere Date'] #Want to get year shows were originally premiered to determine whether
#they are returning / actively airing

# Convert the column to datetime if it's not already in datetime format
df['Program - Current Premiere Date'] = pd.to_datetime(df['Program - Current Premiere Date'], errors='coerce')

# Extract the year
df['Premiere Year'] = df['Program - Current Premiere Date'].dt.year

# Drop original column
df = df.drop(columns=['Program - Current Premiere Date'])

In [17]:
# Identify shows with a premiere year in 2022 or 2023
shows_2022_2023 = df[df['Premiere Year'].isin([2022, 2023])]['Program'].unique()

# Filter the original DataFrame to keep all data for those identified shows
df = df[df['Program'].isin(shows_2022_2023)]

In [18]:
df['Premiere Year'].unique() #Ensuring that data is kept for all years if the show is newly 
#premiering in 2022/2023

array([2020., 2012., 2002., 2008., 2019., 2007., 2017., 2003., 2010.,
       2013., 2018., 2015., 2016., 2022., 2005., 2004., 2014., 2009.,
       2006., 2021., 2011., 2000., 2001., 1999.,   nan, 1997., 1996.,
       1998., 2023., 2024., 1992.])

In [19]:
# ##### Filtering out Specials and Movies

In [20]:
#Filter out Specials.
df = df[df["Program - Is Special"] != 1] #Removing observations where the Program is a Special.

In [21]:
df["Program - Is Special"].unique() #Remaining options include 0 and null values

array([ 0., nan])

In [22]:
df["Program - Is Special"].isna().sum() #136k+ null values left. Dropping this column.

136779

In [23]:
df = df.drop(columns=['Program - Is Special'])

In [24]:
#Program - Type variable also seems to be indicative of a special. Continuing to filter down.

df['Program - Type'].unique() #Options include Special and Series
df = df[df["Program - Type"] != "Special"] #Removing observations where the Program is a Special.

In [25]:
df['Program - Type'].unique() #Remaining Options include Series and Null Values

array(['Series', nan], dtype=object)

In [26]:
df['Program - Type'].isna().sum() #Because there are 136k+ null values aside from Series,
#I am dropping this column

136779

In [27]:
df = df.drop(columns=['Program - Type']) #Removing column with options for Series or NA

In [28]:
#Filter out Movies and any outstanding Specials.

df = df[~((df["Program Sub-Type"] == "Movie") | (df["Program Sub-Type"] == "Special"))]

In [29]:
#Confirm remaining observation options
df['Program Sub-Type'].unique() #Options include Scripted, Mini-Series, etc.. Keeping variable.

array(['Unscripted', 'Scripted', 'Docu-Drama', nan, 'Mini-Series'],
      dtype=object)

In [30]:
# ###### Creating new variable for Legacy/New

In [31]:
#Create new variable to establish whether season is Legacy or New

# Initialize 'Series Type' column with NaN values
df["Series Type"] = np.nan

# Apply 'New' to rows where 'Program - External Season' is less than 2
df.loc[df["Program - External Season"] < 2, "Series Type"] = "New"

# Apply 'Legacy' to rows where 'Program - External Season' is 2 or more
df.loc[df["Program - External Season"] >= 2, "Series Type"] = "Legacy"

In [32]:
# ###### Removing columns with large amount of outliers

In [33]:
#Searching for null values:
#Count of missing values per column
missing_count = df.isna().sum()

# Display columns with missing values
missing_columns = missing_count[missing_count > 0]

print("Columns with missing values:")
print(missing_columns)

Columns with missing values:
Program - Network                        6
Partner - Network                     3802
Partner - Episode                   164217
Partner - Program                    87477
Partner - Device                     74600
Partner - Rating Source            5475824
Partner - Viewer Code              5475824
Program - Air Title                 136779
Program - Budget Line               141164
Program - Category                  167675
Program - Episode Number            395410
Program - External Air Order        324458
Program - External Season           282290
Program - Franchise                 815770
Program - Genre Name                136785
Program - Mega Genre                167675
Program - Network Name              136779
Program - PAC ID                    136779
Program - PAC Title                 136779
Program - Premiere Network Code     320014
Program - Production Year           143892
Program - ID                        136779
Program - Status                    136779
Program - Series Code               136779
Program - Series ID                 136779
Program - Series Name               136779
Program - Sub Category              167675
Program - Supplier                  136781
Program - TMS ID                    304876
Program Sub-Type                    152928
Premiere Year                       314827
Series Type                         282290
dtype: int64

In [34]:
#Dropping columns with more than a million missing values
df = df.drop(columns =['Partner - Viewer Code','Partner - Rating Source'])

In [35]:
#There is a recurring pattern of 136779 missing values. Dropping null values to see if it resolves some
#of the rest.
df = df.dropna(subset=['Program - Series ID'])

In [36]:
#Reviewing remaining missing values
missing_count = df.isna().sum()

# Display columns with missing values
missing_columns = missing_count[missing_count > 0]

print("Columns with missing values:")
print(missing_columns) #The resulting missing values are much more manageable and will be imputed closer to
#model training. 

#QUESTION FOR TEAM TO CONSIDER: Topic of how the grouping of variables in the season concatenation
#will affect the missing value imputation.

Columns with missing values:
Program - Network                       6
Partner - Network                    1751
Partner - Episode                  163984
Partner - Program                   85854
Partner - Device                    74531
Program - Budget Line                4385
Program - Category                  30896
Program - Episode Number           258631
Program - External Air Order       187679
Program - External Season          145511
Program - Franchise                678991
Program - Genre Name                    6
Program - Mega Genre                30896
Program - Premiere Network Code    183235
Program - Production Year            7113
Program - Sub Category              30896
Program - Supplier                      2
Program - TMS ID                   168097
Program Sub-Type                    16149
Premiere Year                      178048
Series Type                        145511
dtype: int64

In [37]:
#Filling NAs with "Unknown" and 0 for purposes of grouping. Beforehand, the grouping was removing Linear
#variables because they had missing values in one category

def fill_na(df):
    # Fill NaN with 'Unknown' for categorical/object columns
    df_cat = df.select_dtypes(include=['category', 'object']).fillna('Unknown')
    
    # Fill NaN with 0 for numerical columns
    df_num = df.select_dtypes(include=['number']).fillna(0)
    
    # Combine both DataFrames
    df_filled = pd.concat([df_cat, df_num], axis=1)
    
    # If there are other data types that we want to preserve, we include them here
    df_other = df.select_dtypes(exclude=['category', 'object', 'number'])
    
    # Add the untouched columns (like datetime) back if any
    if not df_other.empty:
        df_filled = pd.concat([df_filled, df_other], axis=1)
    
    return df_filled

# Apply the function to your DataFrame
df_filled = fill_na(df)

In [38]:
# ###### Concatenate by Season

In [39]:
#Drop columns relevant to the episode
df_filled = df_filled.drop(columns=['Program - Episode Number','Program - External Air Order','Episode','# of Episode','Distinct Episode',
                      'Year and Month','Month','Partner - Episode','Program - Air Title','Program - Budget Line'])

In [40]:
#Review variable types after column dropping
df_filled.dtypes

Program                              object
Program - Network                    object
Partner - Network                    object
Partner - Program                    object
Partner - Name                       object
Partner - Platform                   object
Partner - Device                     object
Partner - Demo                       object
Program - Category                   object
Program - Franchise                  object
Program - Genre Name                 object
Program - Mega Genre                 object
Program - Network Name               object
Program - PAC Title                  object
Program - Premiere Network Code      object
Program - Status                     object
Program - Series Code                object
Program - Series Name                object
Program - Long Form/Short Form       object
Program - Sub Category               object
Program - Supplier                   object
Program - TMS ID                     object
Partner - Data Type                  object
Program Sub-Type                     object
Series Type                          object
Year                                  int64
Series ID                           float64
Program ID Key                        int64
Partner - Episode Duration            int64
Program - Broadcast Length            int64
Program - Broadcast Length SSSSS      int64
Exposures                           float64
Minutes Viewed                      float64
Program - External Season           float64
Program - PAC ID                    float64
Program - Production Year           float64
Program - ID                        float64
Program - Series ID                 float64
NO.of Scheduled Minutes               int64
NO.of Telecasts                       int64
Premiere Year                       float64
dtype: object

In [41]:
categorical_columns = df_filled.select_dtypes(include=['object', 'category']).columns.tolist()

print("Categorical Columns:", categorical_columns)

Categorical Columns: ['Program', 'Program - Network', 'Partner - Network', 'Partner - Program', 'Partner - Name', 'Partner - Platform', 'Partner - Device', 'Partner - Demo', 'Program - Category', 'Program - Franchise', 'Program - Genre Name', 'Program - Mega Genre', 'Program - Network Name', 'Program - PAC Title', 'Program - Premiere Network Code', 'Program - Status', 'Program - Series Code', 'Program - Series Name', 'Program - Long Form/Short Form', 'Program - Sub Category', 'Program - Supplier', 'Program - TMS ID', 'Partner - Data Type', 'Program Sub-Type', 'Series Type']

In [42]:
grouped = df_filled.groupby(['Program', 'Program - Network', 'Partner - Network', 'Partner - Program', 
                             'Partner - Name', 'Partner - Platform', 'Partner - Device', 'Partner - Demo',
                             'Program - Category', 'Program - Franchise', 'Program - Genre Name', 
                             'Program - Mega Genre', 'Program - Network Name', 'Program - PAC Title', 
                             'Program - Premiere Network Code', 'Program - Status', 'Program - Series Code', 
                             'Program - Series Name', 'Program - Long Form/Short Form', 'Program - Sub Category',
                             'Program - Supplier', 'Program - TMS ID', 'Partner - Data Type', 'Program Sub-Type',
                             'Series Type', 'Premiere Year','Year','Series ID','Program ID Key',
                             'Program - External Season','Program - PAC ID','Program - Production Year',
                             'Program - ID', 'Program - Series ID'],observed=False)

aggregated_seasons = grouped.agg({
    'Partner - Episode Duration': 'sum',      
    'Program - Broadcast Length': 'sum',
    'Program - Broadcast Length SSSSS':'sum',
    'Exposures':'sum',
    'Minutes Viewed':'sum',
    'NO.of Scheduled Minutes':'sum', 
    'NO.of Telecasts':'sum', 
}).reset_index()

In [43]:
aggregated_seasons['Partner - Platform'].unique() #Confirming that the expected categories are still there

array(['DVR 4-7', 'Live +3', 'vMVPD VOD', 'Linear TV', 'DTC SVOD', 'DTO',
       'MVPD Apps & Sites', 'STB VOD', 'AVOD', 'Social', 'O+O',
       'Fast Channels', 'SVOD'], dtype=object)

In [44]:
aggregated_seasons.shape

(811656, 41)

In [45]:

# ###### Filter Linear to Live+7 by adding Live +3 and DVR 4-7 together

In [46]:
#Sponsor wants to focus on Live +7 for Linear TV. Confirmed that Live +7 is a combination of Live+3 and
# DVR 4-7. Removing the other linear variables.
aggregated_seasons = aggregated_seasons[~aggregated_seasons['Partner - Platform'].isin(['Linear TV', 'Off Net Linear Licensing'])]

In [47]:
# Filter the data based on 'Partner - Platform' values
mask = aggregated_seasons['Partner - Platform'].isin(['Live +3', 'DVR 4-7'])

# Define the group columns
group_columns = ['Program', 'Program - Network', 'Partner - Network', 'Partner - Program', 
                             'Partner - Name', 'Partner - Platform', 'Partner - Device', 'Partner - Demo',
                             'Program - Category', 'Program - Franchise', 'Program - Genre Name', 
                             'Program - Mega Genre', 'Program - Network Name', 'Program - PAC Title', 
                             'Program - Premiere Network Code', 'Program - Status', 'Program - Series Code', 
                             'Program - Series Name', 'Program - Long Form/Short Form', 'Program - Sub Category',
                             'Program - Supplier', 'Program - TMS ID', 'Partner - Data Type', 'Program Sub-Type',
                             'Series Type', 'Premiere Year','Year','Series ID','Program ID Key',
                             'Program - External Season','Program - PAC ID','Program - Production Year',
                             'Program - ID', 'Program - Series ID']

# Group by the categorical columns and sum only the numeric ones
df_live7_subset = aggregated_seasons[mask].groupby(group_columns, as_index=False).sum(numeric_only=True)

# After summing, set the 'Partner - Platform' column to 'Live+7'
df_live7_subset['Partner - Platform'] = 'Live+7'

# Combine with the rest of the data
df_rest = aggregated_seasons[~mask]
df_final = pd.concat([df_rest, df_live7_subset], ignore_index=True)

In [48]:
df_final['Partner - Platform'].unique() #Confirming that Live+7 is now showing up

array(['vMVPD VOD', 'DTC SVOD', 'DTO', 'MVPD Apps & Sites', 'STB VOD',
       'AVOD', 'Social', 'O+O', 'Fast Channels', 'SVOD', 'Live+7'],
      dtype=object)

In [49]:
# ###### Bring in Ad Sales Data

In [50]:
#Identify unique networks so that we can bring in Ad Sales Data

unique_networks = df_final['Partner - Name'].drop_duplicates()

# Display the result
print(unique_networks) #We will need to group

0                  DTV Stream
3                  Amazon DTC
33                 Apple SVOD
67                    DirecTV
77                  ROKU SVOD
87                        Cox
88               Omniture DTC
118                   Comcast
148                Amazon DTO
484                  Dish VOD
504                   Freevee
534                 Hulu Live
633                  Sling TV
722                 Sling VOD
821                  Spectrum
887                      VUDU
947               YouTube DTO
1007                   iTunes
1067                   Hoopla
1076                   CoxVod
1113              Cablevision
1121         Others (STB VOD)
1125                  Verizon
1336                    Philo
1435                  YouTube
1445                 Omniture
1631                Wurl Plex
1661                Wurl Roku
1671             Wurl Samsung
1681         Wurl Samsung-Hub
1701      Wurl Samsung-mobile
1711               Wurl Vizio
4548           Hulu+/ Disney+
4566                  PlutoTV
5111          Cascada Samsung
6811             Amazon Prime
7938               Discovery+
9511                     Plex
10027               ROKU AVOD
11340                    Tubi
12436                    Xbox
15591             AT&T UVerse
36456             Portal Roku
76041                 Peacock
184053                     LG
723320                 Virgin
772138                Nielsen
Name: Partner - Name, dtype: object

In [51]:
#Renaming certain names to align with ad revenue lever
df_final['Partner - Name'] = df_final['Partner - Name'].replace({'Wurl Samsung-Hub': 'Samsung', 'Cascada Samsung': 'Samsung',
                                                   'Wurl Samsung-mobile':'Samsung',' Wurl Samsung':'Samsung',
                                                    'Wurl Plex':'Plex','Wurl Vizio':'Vizio'})

In [52]:
#Read in spreadsheet provided by sponsor for Ad sales.
adsales = pd.read_excel('LinearAdSalesbyPartner.xlsx')
adsales.head

<bound method NDFrame.head of       Partner - Name Partner - Platform      Stream           FY22  \
0       Omniture DTC                O+O    On Demand  5.474708e+09
1        AT&T UVerse            STB VOD    On Demand  3.057071e+06
2        Cablevision            STB VOD    On Demand  6.145813e+07
3            Comcast            STB VOD    On Demand  4.972262e+09
4                Cox            STB VOD    On Demand  1.226183e+08
5            DirecTV            STB VOD    On Demand  5.233637e+08
6           Dish VOD            STB VOD    On Demand  5.129893e+08
7   Others (STB VOD)            STB VOD    On Demand  5.391930e+07
8           Spectrum            STB VOD    On Demand  7.147765e+08
9            Verizon            STB VOD    On Demand  2.620386e+08
10           Comcast  MVPD Apps & Sites    On Demand  3.063606e+08
11            CoxVod  MVPD Apps & Sites    On Demand  4.415697e+05
12           DirecTV  MVPD Apps & Sites    On Demand  3.446362e+07
13          Spectrum  MVPD Apps & Sites    On Demand  5.878097e+08
14           Verizon  MVPD Apps & Sites    On Demand  9.261699e+06
15        DTV Stream          vMVPD VOD    On Demand  3.922163e+08
16         Hulu Live          vMVPD VOD    On Demand  7.084905e+09
17             Philo          vMVPD VOD    On Demand  2.331078e+09
18          Sling TV          vMVPD VOD    On Demand  7.948135e+08
19           Samsung      Fast Channels      Library  7.004415e+09
20             Vizio      Fast Channels      Library  1.537936e+09
21              Plex      Fast Channels      Library  1.797605e+08
22          Omniture                O+O  Fast-Follow  1.735522e+09
23       AT&T UVerse            STB VOD  Fast-Follow  2.703535e+06
24       Cablevision            STB VOD  Fast-Follow  5.147987e+07
25           Comcast            STB VOD  Fast-Follow  1.815866e+09
26               Cox            STB VOD  Fast-Follow  1.035286e+08
27           DirecTV            STB VOD  Fast-Follow  1.186558e+08
28          Dish VOD            STB VOD  Fast-Follow  1.285321e+08
29  Others (STB VOD)            STB VOD  Fast-Follow  4.165938e+07
30          Spectrum            STB VOD  Fast-Follow  5.550276e+08
31           Verizon            STB VOD  Fast-Follow  1.581598e+08
32           Comcast  MVPD Apps & Sites  Fast-Follow  1.801881e+08
33            CoxVod  MVPD Apps & Sites  Fast-Follow  2.459602e+05
34           DirecTV  MVPD Apps & Sites  Fast-Follow  1.198490e+07
35          Spectrum  MVPD Apps & Sites  Fast-Follow  5.079090e+08
36           Verizon  MVPD Apps & Sites  Fast-Follow  4.716398e+06
37        DTV Stream          vMVPD VOD  Fast-Follow  1.086506e+08
38         Hulu Live          vMVPD VOD  Fast-Follow  2.729054e+09
39             Philo          vMVPD VOD  Fast-Follow  9.020678e+08
40          Sling TV          vMVPD VOD  Fast-Follow  2.924643e+08
41          Omniture                O+O      Library  3.739185e+09
42       AT&T UVerse            STB VOD      Library  3.535357e+05
43       Cablevision            STB VOD      Library  9.978262e+06
44           Comcast            STB VOD      Library  3.156396e+09
45               Cox            STB VOD      Library  1.908972e+07
46           DirecTV            STB VOD      Library  4.047079e+08
47          Dish VOD            STB VOD      Library  3.844572e+08
48  Others (STB VOD)            STB VOD      Library  1.225992e+07
49          Spectrum            STB VOD      Library  1.597489e+08
50           Verizon            STB VOD      Library  1.038788e+08
51           Comcast  MVPD Apps & Sites      Library  1.261725e+08
52            CoxVod  MVPD Apps & Sites      Library  1.956095e+05
53           DirecTV  MVPD Apps & Sites      Library  2.247872e+07
54          Spectrum  MVPD Apps & Sites      Library  7.990072e+07
55           Verizon  MVPD Apps & Sites      Library  4.545300e+06
56        DTV Stream          vMVPD VOD      Library  2.835656e+08
57         Hulu Live          vMVPD VOD      Library  4.355851e+09
58             Philo          vMVPD VOD      Library  1.429010e+09
59          Sling TV          vMVPD VOD      Library  5.023492e+08

            FY23     FY23%           +/-       YoY
0   5.945745e+09  0.131375  4.710371e+08  0.086039
1   1.158744e+06  0.000026 -1.898327e+06 -0.620963
2   4.427233e+07  0.000978 -1.718580e+07 -0.279634
3   3.931203e+09  0.086863 -1.041059e+09 -0.209373
4   1.240761e+08  0.002742  1.457782e+06  0.011889
5   5.470786e+08  0.012088  2.371482e+07  0.045312
6   1.772956e+08  0.003917 -3.356937e+08 -0.654387
7   3.927217e+07  0.000868 -1.464713e+07 -0.271649
8   5.869788e+08  0.012970 -1.277977e+08 -0.178794
9   2.558326e+08  0.005653 -6.205963e+06 -0.023683
10  1.421719e+08  0.003141 -1.641887e+08 -0.535933
11  8.432941e+05  0.000019  4.017244e+05  0.909764
12  1.675025e+07  0.000370 -1.771337e+07 -0.513973
13  6.363284e+08  0.014060  4.851872e+07  0.082542
14  3.729834e+06  0.000082 -5.531864e+06 -0.597284
15  4.850466e+08  0.010717  9.283032e+07  0.236681
16  6.621007e+09  0.146296 -4.638986e+08 -0.065477
17  2.155684e+09  0.047631 -1.753941e+08 -0.075242
18  9.303836e+08  0.020557  1.355701e+08  0.170568
19  1.992558e+10  0.440269  1.292117e+10  1.844718
20  2.318651e+09  0.051232  7.807153e+08  0.507638
21  3.686300e+08  0.008145  1.888696e+08  1.050674
22  1.837535e+09  0.240697  1.020126e+08  0.058779
23  7.670651e+05  0.000100 -1.936470e+06 -0.716273
24  3.125179e+07  0.004094 -2.022808e+07 -0.392932
25  1.216090e+09  0.159294 -5.997764e+08 -0.330298
26  8.697004e+07  0.011392 -1.655858e+07 -0.159942
27  1.103923e+08  0.014460 -8.263558e+06 -0.069643
28  2.934429e+07  0.003844 -9.918781e+07 -0.771697
29  2.511807e+07  0.003290 -1.654131e+07 -0.397061
30  3.720141e+08  0.048730 -1.830135e+08 -0.329738
31  9.301799e+07  0.012184 -6.514185e+07 -0.411874
32  7.620565e+07  0.009982 -1.039825e+08 -0.577077
33  5.176300e+05  0.000068  2.716698e+05  1.104527
34  5.462484e+06  0.000716 -6.522412e+06 -0.544219
35  4.613259e+08  0.060429 -4.658305e+07 -0.091715
36  1.812660e+06  0.000237 -2.903738e+06 -0.615669
37  1.140961e+08  0.014945  5.445449e+06  0.050119
38  2.236718e+09  0.292986 -4.923361e+08 -0.180405
39  6.195688e+08  0.081157 -2.824990e+08 -0.313168
40  3.160183e+08  0.041395  2.355401e+07  0.080536
41  4.108210e+09  0.109193  3.690245e+08  0.098691
42  3.916790e+05  0.000010  3.814334e+04  0.107891
43  1.302054e+07  0.000346  3.042282e+06  0.304891
44  2.715113e+09  0.072165 -4.412827e+08 -0.139806
45  3.710608e+07  0.000986  1.801636e+07  0.943773
46  4.366863e+08  0.011607  3.197838e+07  0.079016
47  1.479513e+08  0.003932 -2.365059e+08 -0.615168
48  1.415410e+07  0.000376  1.894177e+06  0.154502
49  2.149647e+08  0.005714  5.521586e+07  0.345642
50  1.628147e+08  0.004327  5.893589e+07  0.567353
51  6.596626e+07  0.001753 -6.020623e+07 -0.477174
52  3.256641e+05  0.000009  1.300546e+05  0.664869
53  1.128776e+07  0.000300 -1.119096e+07 -0.497847
54  1.750025e+08  0.004651  9.510176e+07  1.190249
55  1.917175e+06  0.000051 -2.628126e+06 -0.578207
56  3.709505e+08  0.009860  8.738487e+07  0.308165
57  4.384289e+09  0.116531  2.843756e+07  0.006529
58  1.536115e+09  0.040829  1.071050e+08  0.074950
59  6.143653e+08  0.016329  1.120161e+08  0.222984  >

In [53]:
# Split `df` into chunks to facilitate processing
num_chunks = 20  # Adjust based on available memory and dataset size
df_chunks = np.array_split(df_final, num_chunks)

# Initialize an empty list to hold the merged results
merged_results = []

# Iterate over each chunk and merge with `adsales`
for chunk in df_chunks:
    merged_chunk = pd.merge(chunk, adsales, on=['Partner - Name', 'Partner - Platform'], how='left')
    merged_results.append(merged_chunk)

# Concatenate the merged chunks into a final DataFrame
df_final = pd.concat(merged_results, ignore_index=True)

In [54]:
df_final.head()

,Program,Program - Network,Partner - Network,Partner - Program,Partner - Name,Partner - Platform,Partner - Device,Partner - Demo,Program - Category,Program - Franchise,...,Exposures,Minutes Viewed,NO.of Scheduled Minutes,NO.of Telecasts,Stream,FY22,FY23,FY23%,+/-,YoY
0,#TextMeWhenYouGetHome,LIFE,AEN,#TextMeWhenYouGetHome,DTV Stream,vMVPD VOD,CTV,P2+,TRUE CRIME,Unknown,...,9.0,186.177333,0,0,On Demand,3.922163e+08,4.850466e+08,0.010717,9.283032e+07,0.236681
1,#TextMeWhenYouGetHome,LIFE,AEN,#TextMeWhenYouGetHome,DTV Stream,vMVPD VOD,CTV,P2+,TRUE CRIME,Unknown,...,9.0,186.177333,0,0,Fast-Follow,1.086506e+08,1.140961e+08,0.014945,5.445449e+06,0.050119
2,#TextMeWhenYouGetHome,LIFE,AEN,#TextMeWhenYouGetHome,DTV Stream,vMVPD VOD,CTV,P2+,TRUE CRIME,Unknown,...,9.0,186.177333,0,0,Library,2.835656e+08,3.709505e+08,0.009860,8.738487e+07,0.308165
3,#TextMeWhenYouGetHome,LIFE,AEN,#TextMeWhenYouGetHome,DTV Stream,vMVPD VOD,CTV,P2+,TRUE CRIME,Unknown,...,3.0,90.106421,0,0,On Demand,3.922163e+08,4.850466e+08,0.010717,9.283032e+07,0.236681
4,#TextMeWhenYouGetHome,LIFE,AEN,#TextMeWhenYouGetHome,DTV Stream,vMVPD VOD,CTV,P2+,TRUE CRIME,Unknown,...,3.0,90.106421,0,0,Fast-Follow,1.086506e+08,1.140961e+08,0.014945,5.445449e+06,0.050119

In [55]:
# ###### Bring in Marketing Spend Data
# In[ ]:


df_final['Program - Franchise'] = df_final['Program - Franchise'].str.title() #Undo All Caps Column

In [56]:
#Franchise is currently "History's Greatest". Splitting between "Mysteries" and "Heist" to match
#market spend spreadsheet. 
df_final.loc[df_final['Program'] == "History's Greatest Mysteries", 
             'Program - Franchise'] = "History's Greatest Mysteries"

In [57]:
#Franchise is currently "History's Greatest". Splitting between "Mysteries" and "Heist" to match
#market spend spreadsheet. 
df_final.loc[df_final['Program'] == "History's Greatest Heists With Pierce Brosnan", 
             'Program - Franchise'] = "History's Greatest Heists"

In [58]:
#Franchise is currently "Secrets of". Splitting between "Playboy" and "Skinwalker" to match
#market spend spreadsheet. 
df_final.loc[df_final['Program'] == "Secrets of Playboy", 
             'Program - Franchise'] = "Secrets of Playboy"

In [59]:
#Franchise is currently "Secrets of". Splitting between "Playboy" and "Skinwalker" to match
#market spend spreadsheet. 
df_final.loc[
    (df_final['Program'] == "The Secret of Skinwalker Ranch") | 
    (df_final['Program'] == "The Secret of Skinwalker Ranch: Digging Deeper"), 
    'Program - Franchise'
] = "Secrets Of Skinwalker Ranch"

In [60]:
#Getting spreadsheet to make sure name formatting matches across spreadsheets
unique_program = df_final['Program - Franchise'].drop_duplicates() #Extract franchise titles
output_excel_path = 'uniqueprograms.xlsx' #Extract Excel to Compare with Marketing Spend
unique_program.to_excel(output_excel_path, index=False)

In [61]:

#Reading in Marketing Spend Data
marketspendlinear = pd.read_excel('FormattedMarketingSpend.xlsx', sheet_name=0) #Read in Linear Tab
marketspendatv = pd.read_excel('FormattedMarketingSpend.xlsx', sheet_name=1) #Read in ATV Tab

In [62]:
#Grouping original dataframe by linear/nonlinear, then merging
linear_filtered = df_final[df_final['Partner - Platform']=='Live+7'] #Filtering to Linear 
nonlinear = df_final[df_final['Partner - Platform']!='Live+7'] #Filtering to NonLinear
linear_filtered = pd.merge(marketspendlinear, linear_filtered, on='Program - Franchise', how='left') #Join Tab1
nonlinear = pd.merge(marketspendatv, nonlinear, on='Program - Franchise', how='left') #Join Tab2

In [63]:

#Rejoining Linear and Nonlinear
df_final = pd.concat([linear_filtered,nonlinear], ignore_index=True)

In [64]:
#Current Shape
df_final.shape

(555383, 50)

In [65]:
#Revert missing values back from Unknown to NA
df_final.replace('Unknown', np.nan, inplace=True)

In [66]:
# ###### Getting Rid of Remaining Irrelevant Columns (In Progress)

df_final.columns

Index(['Program - Franchise', 'Campaign Start Date', 'Campaign End Date',
       'Spend Level', 'Program', 'Program - Network', 'Partner - Network',
       'Partner - Program', 'Partner - Name', 'Partner - Platform',
       'Partner - Device', 'Partner - Demo', 'Program - Category',
       'Program - Genre Name', 'Program - Mega Genre',
       'Program - Network Name', 'Program - PAC Title',
       'Program - Premiere Network Code', 'Program - Status',
       'Program - Series Code', 'Program - Series Name',
       'Program - Long Form/Short Form', 'Program - Sub Category',
       'Program - Supplier', 'Program - TMS ID', 'Partner - Data Type',
       'Program Sub-Type', 'Series Type', 'Premiere Year', 'Year', 'Series ID',
       'Program ID Key', 'Program - External Season', 'Program - PAC ID',
       'Program - Production Year', 'Program - ID', 'Program - Series ID',
       'Partner - Episode Duration', 'Program - Broadcast Length',
       'Program - Broadcast Length SSSSS', 'Exposures', 'Minutes Viewed',
       'NO.of Scheduled Minutes', 'NO.of Telecasts', 'Stream ', 'FY22', 'FY23',
       'FY23%', '+/-', 'YoY'],
      dtype='object')

---

### Elena add for external IMDB variable

In [85]:
# Get the count of non-null values for each column
non_null_counts = df_final.count()

# Display the count for each column
print(non_null_counts)

# Check if all columns have the same number of non-null rows
if non_null_counts.nunique() == 1:
    print("All columns have the same number of non-null rows.")
else:
    print("Columns have different numbers of non-null rows.")

Program - Franchise                 555383
Campaign Start Date                 555383
Campaign End Date                   555383
Spend Level                         555383
Program                             555360
Program - Network                   555354
Partner - Network                   555225
Partner - Program                   539332
Partner - Name                      555360
Partner - Platform                  555360
Partner - Device                    550942
Partner - Demo                      555360
Program - Category                  555360
Program - Genre Name                555360
Program - Mega Genre                555360
Program - Network Name              555360
Program - PAC Title                 555360
Program - Premiere Network Code     521796
Program - Status                    555360
Program - Series Code               555360
Program - Series Name               555360
Program - Long Form/Short Form      555360
Program - Sub Category              555360
Program - Supplier                  555358
Program - TMS ID                    522025
Partner - Data Type                 555360
Program Sub-Type                    549027
Series Type                         530445
Premiere Year                       555360
Year                                555360
Series ID                           555360
Program ID Key                      555360
Program - External Season           555360
Program - PAC ID                    555360
Program - Production Year           555360
Program - ID                        555360
Program - Series ID                 555360
Partner - Episode Duration          555360
Program - Broadcast Length          555360
Program - Broadcast Length SSSSS    555360
Exposures                           555360
Minutes Viewed                      555360
NO.of Scheduled Minutes             555360
NO.of Telecasts                     555360
Stream                              392692
FY22                                392692
FY23                                392692
FY23%                               392692
+/-                                 392692
YoY                                 392692
dtype: int64
Columns have different numbers of non-null rows.

In [135]:
# Count the total number of program names in 'Program'
total_program_count = df_final['Program'].count()

# Display the count
print(f"There are {total_program_count} program names in total (including duplicates).")

# Count the number of unique program names in 'Program'
unique_program_count = df_final['Program'].nunique()

# Display the count
print(f"There are {unique_program_count} unique program names.")

There are 555360 program names in total (including duplicates).
There are 34 unique program names.

In [140]:
# Count the number of unique program names in 'Program - Series Name'
unique_program_count = df_final['Program - Series Name'].nunique()

# Display the count
print(f"There are {unique_program_count} unique program names.")

There are 34 unique program names.

In [141]:
# Count the total number of program names in 'Program'
total_program_count = df_final['Program - Franchise'].count()

# Display the count
print(f"There are {total_program_count} program names in total (including duplicates).")

# Count the number of unique program names in 'Program - Series Name'
unique_program_count = df_final['Program - Franchise'].nunique()

# Display the count
print(f"There are {unique_program_count} unique program names.")

There are 555383 program names in total (including duplicates).
There are 31 unique program names.

In [142]:
import requests
import pandas as pd

# Your OMDb API key
api_key = "9d02b21f"

# Assuming your DataFrame is named df_final and the column with series names is 'Program'
# Extract the unique program names

program_titles = df_final['Program - Franchise'].unique()

# Create an empty list to store show titles and IMDb ratings
imdb_ratings = []

# Loop through each program title in the DataFrame
for title in program_titles:
    url = f"http://www.omdbapi.com/?t={title}&apikey={api_key}"
    response = requests.get(url)
    data = response.json()
    
    # Extract IMDb rating, if available
    if "imdbRating" in data:
        imdb_rating = data['imdbRating']
    else:
        imdb_rating = "N/A"  # If rating is not available

    # Append the program title and IMDb rating to the list
    imdb_ratings.append({"Program": title, "IMDb Rating": imdb_rating})

# Convert the list of IMDb ratings to a DataFrame
ratings_df = pd.DataFrame(imdb_ratings)

# Display the Series Name (Program) and IMDb Rating
print(ratings_df)

                                Program IMDb Rating
0                          Gabby Petito         5.4
1                            That Built         8.4
2                            Pawn Stars         7.2
3                   Curse Of Oak Island         6.8
4             It's a Wonderful Lifetime         N/A
5                Married at First Sight         6.2
6                       Notorious Women         N/A
7                           The Accused         7.1
8             History'S Greatest Heists         7.5
9                                   Wwe         7.8
10         History'S Greatest Mysteries         6.8
11                       History's GOAT         N/A
12                             Cam/Wars         N/A
13          Secrets Of Skinwalker Ranch         N/A
14                 Voices of a Lifetime         N/A
15                           60 Days In         7.6
16                           Vc Andrews         5.8
17                         Dark Marvels         7.3
18                         Mountain Men         5.9
19                      Ancient Empires         7.3
20                    Highway to Heaven         6.8
21                Baking Spirits Bright         5.2
22            A Christmas Dance Reunion         6.1
23                       Janet Jackson.         7.7
24                                Alone         6.2
25               Biography: Bobby Brown         N/A
26               Married At First Sight         6.2
27                   A New Orleans Noel         5.8
28                              Accused         7.0
29  Greatest Heists with Pierce Brosnan         N/A
30                   Secrets Of Playboy         6.8

In [162]:
# Display all column names in df_final
print(df_final.columns)

Index(['Program - Franchise', 'Campaign Start Date', 'Campaign End Date',
       'Spend Level', 'Program', 'Program - Network', 'Partner - Network',
       'Partner - Program', 'Partner - Name', 'Partner - Platform',
       'Partner - Device', 'Partner - Demo', 'Program - Category',
       'Program - Genre Name', 'Program - Mega Genre',
       'Program - Network Name', 'Program - PAC Title',
       'Program - Premiere Network Code', 'Program - Status',
       'Program - Series Code', 'Program - Series Name',
       'Program - Long Form/Short Form', 'Program - Sub Category',
       'Program - Supplier', 'Program - TMS ID', 'Partner - Data Type',
       'Program Sub-Type', 'Series Type', 'Premiere Year', 'Year', 'Series ID',
       'Program ID Key', 'Program - External Season', 'Program - PAC ID',
       'Program - Production Year', 'Program - ID', 'Program - Series ID',
       'Partner - Episode Duration', 'Program - Broadcast Length',
       'Program - Broadcast Length SSSSS', 'Exposures', 'Minutes Viewed',
       'NO.of Scheduled Minutes', 'NO.of Telecasts', 'Stream ', 'FY22', 'FY23',
       'FY23%', '+/-', 'YoY', 'Holidays During Campaign'],
      dtype='object')

#### There are repeated titles - dont know how to fix this.

In [172]:
import pandas as pd

# Assuming df_final has 'Campaign Start Date' and 'Campaign End Date'
df_final['Campaign Start Date'] = pd.to_datetime(df_final['Campaign Start Date'])
df_final['Campaign End Date'] = pd.to_datetime(df_final['Campaign End Date'])

# Define the holiday data for 2022 and 2023 (as shown in your example)
holidays = [
    {"Date": "2022-01-01", "Holiday Name": "New Year's Day"},
    {"Date": "2022-01-17", "Holiday Name": "Martin Luther King Jr. Day"},
    {"Date": "2022-02-14", "Holiday Name": "Valentine's Day"},
    {"Date": "2022-02-21", "Holiday Name": "Presidents' Day"},
    {"Date": "2022-04-17", "Holiday Name": "Easter Sunday"},
    {"Date": "2022-05-30", "Holiday Name": "Memorial Day"},
    {"Date": "2022-06-19", "Holiday Name": "Juneteenth National Independence Day"},
    {"Date": "2022-07-04", "Holiday Name": "Independence Day"},
    {"Date": "2022-09-05", "Holiday Name": "Labor Day"},
    {"Date": "2022-10-10", "Holiday Name": "Columbus Day"},
    {"Date": "2022-11-11", "Holiday Name": "Veterans Day"},
    {"Date": "2022-11-24", "Holiday Name": "Thanksgiving Day"},
    {"Date": "2022-12-25", "Holiday Name": "Christmas Day"},
    {"Date": "2023-01-01", "Holiday Name": "New Year's Day"},
    {"Date": "2023-01-16", "Holiday Name": "Martin Luther King Jr. Day"},
    {"Date": "2023-02-14", "Holiday Name": "Valentine's Day"},
    {"Date": "2023-02-20", "Holiday Name": "Presidents' Day"},
    {"Date": "2023-04-09", "Holiday Name": "Easter Sunday"},
    {"Date": "2023-05-29", "Holiday Name": "Memorial Day"},
    {"Date": "2023-06-19", "Holiday Name": "Juneteenth National Independence Day"},
    {"Date": "2023-07-04", "Holiday Name": "Independence Day"},
    {"Date": "2023-09-04", "Holiday Name": "Labor Day"},
    {"Date": "2023-10-09", "Holiday Name": "Columbus Day"},
    {"Date": "2023-11-10", "Holiday Name": "Veterans Day (observed)"},
    {"Date": "2023-11-23", "Holiday Name": "Thanksgiving Day"},
    {"Date": "2023-12-25", "Holiday Name": "Christmas Day"}
]

# Convert the holiday list to a DataFrame
holidays_df = pd.DataFrame(holidays)

# Convert 'Date' column to datetime type
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])

# Check if a holiday occurred during the campaign
def holiday_during_campaign(start_date, end_date):
    # Filter holidays that occurred between the start and end date
    holiday_in_range = holidays_df[(holidays_df['Date'] >= start_date) & (holidays_df['Date'] <= end_date)]
    if not holiday_in_range.empty:
        return ', '.join(holiday_in_range['Holiday Name'].tolist())  # Return the holidays during the campaign
    else:
        return "No Holiday"

# Randomly sample 500 shows from df_final
random_500_shows = df_final.sample(500)

# Apply the holiday check function to the sampled 100 shows
random_500_shows['Holidays During Campaign'] = random_500_shows.apply(
    lambda row: holiday_during_campaign(row['Campaign Start Date'], row['Campaign End Date']), axis=1
)

# Display the result with the holidays that occurred during the campaign for the random 100 shows
print(random_500_shows[['Program - Series Name', 'Campaign Start Date', 'Campaign End Date', 'Holidays During Campaign']].head())

              Program - Series Name Campaign Start Date Campaign End Date  \
94      The Food That Built America          2022-10-13        2022-11-06
83469                         Alone          2022-05-27        2022-06-29
533373                   60 Days In          2023-06-16        2023-07-02
242816                 Mountain Men          2022-09-02        2022-09-30
249191                 Mountain Men          2022-09-02        2022-09-30

                                 Holidays During Campaign
94                                             No Holiday
83469   Memorial Day, Juneteenth National Independence...
533373               Juneteenth National Independence Day
242816                                          Labor Day
249191                                          Labor Day

In [173]:
# Reset the index to remove the original index column
result_reset = result.reset_index(drop=True)

# Display the cleaned-up table without index
print(result_reset.to_string(index=False))

                      Program - Series Name                               Holidays During Campaign
                                 Pawn Stars                                           Veterans Day
                               Mountain Men                                              Labor Day
                                 Pawn Stars                                           Veterans Day
                     Married at First Sight                                             No Holiday
                                 60 Days In                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                    The Curse of Oak Island                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                             WWE Smack Talk                                             No Holiday
                               Mountain Men                                              Labor Day
                    The Curse of Oak Island                                       Thanksgiving Day
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
           Flowers in the Attic: The Origin                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                                      Alone Juneteenth National Independence Day, Independence Day
                     Married at First Sight                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                     Biography: WWE Legends                                        Presidents' Day
                        Pawn Stars: Best Of                                           Veterans Day
                        The Fast History Of                                             No Holiday
                                      Alone     Memorial Day, Juneteenth National Independence Day
                                      Alone Juneteenth National Independence Day, Independence Day
                                      Alone     Memorial Day, Juneteenth National Independence Day
                    The Curse of Oak Island                                             No Holiday
                                      Alone     Memorial Day, Juneteenth National Independence Day
                     Married at First Sight                                             No Holiday
                               Mountain Men                                              Labor Day
                              Alone: Frozen     Memorial Day, Juneteenth National Independence Day
                               Mountain Men                                              Labor Day
                      Pawn Stars Do America                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                                 60 Days In                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                                      Alone     Memorial Day, Juneteenth National Independence Day
                The Toys That Built America                                             No Holiday
                                 60 Days In                   Juneteenth National Independence Day
                Alone: The Skills Challenge Juneteenth National Independence Day, Independence Day
                    The Curse of Oak Island                                       Thanksgiving Day
                                      Alone Juneteenth National Independence Day, Independence Day
                                      Alone Juneteenth National Independence Day, Independence Day
                                 60 Days In                   Juneteenth National Independence Day
                                 60 Days In                                             No Holiday
                      Pawn Stars Do America                                           Veterans Day
                               Mountain Men                                              Labor Day
                               Mountain Men                                              Labor Day
                                 Pawn Stars                                           Veterans Day
                                 Pawn Stars                                           Veterans Day
                    The Curse of Oak Island                                       Thanksgiving Day
                                      Alone Juneteenth National Independence Day, Independence Day
                    The Curse of Oak Island                                             No Holiday
                     Married at First Sight                                             No Holiday
                               Mountain Men                                              Labor Day
                               Mountain Men                                              Labor Day
                                 60 Days In                   Juneteenth National Independence Day
                                      Alone Juneteenth National Independence Day, Independence Day
                                      Alone     Memorial Day, Juneteenth National Independence Day
                               Mountain Men                                              Labor Day
                    The Curse of Oak Island                                       Thanksgiving Day
                                 60 Days In                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                     Married at First Sight                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                               Mountain Men                                              Labor Day
                               Mountain Men                                              Labor Day
                                 Pawn Stars                                           Veterans Day
                        Pawn Stars: Best Of                                           Veterans Day
Married at First Sight: Afterparty + Extras                                             No Holiday
                               Mountain Men                                              Labor Day
                WWE's Most Wanted Treasures                                             No Holiday
                    The Curse of Oak Island                                       Thanksgiving Day
                     Married at First Sight                                             No Holiday
Married at First Sight: Afterparty + Extras                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                                 60 Days In                   Juneteenth National Independence Day
                     Married at First Sight                                             No Holiday
                                      Alone     Memorial Day, Juneteenth National Independence Day
                                 WWE Rivals                                        Presidents' Day
                                      Alone     Memorial Day, Juneteenth National Independence Day
                     Married at First Sight                                             No Holiday
                                 WWE Rivals                                             No Holiday
                    The Curse of Oak Island                                       Thanksgiving Day
                     Biography: WWE Legends                                             No Holiday
                    The Curse of Oak Island                                       Thanksgiving Day
                               Mountain Men                                              Labor Day
                             WWE Smack Talk                                             No Holiday
                                 60 Days In                   Juneteenth National Independence Day
                    The Curse of Oak Island                                       Thanksgiving Day
                               Mountain Men                                              Labor Day
                                      Alone Juneteenth National Independence Day, Independence Day
                     Married at First Sight                                             No Holiday
                                 60 Days In                   Juneteenth National Independence Day
                     Married at First Sight                                             No Holiday
                                 Pawn Stars                                           Veterans Day
                                      Alone     Memorial Day, Juneteenth National Independence Day

### Clean more: 

- Delete: Partner - Demo
- Delete: Program - TMS ID, Program ID Key, Program - PAC ID / keep Program - Series ID
- Choose: Program - Network Name and Partner - Network
- Partner - Data Type and Partner - Platform / just keep partner platform

### Relevant:

Program - Franchise: Shows that are part of a successful franchise often have a better chance of performing well.

Program - Genre Name, Program - Mega Genre: The genre of a show is critical in determining its audience and success potential.

Program - Premiere Network Code: The network can have a large impact on show success, especially when evaluating shows across multiple networks.

Program - Long Form/Short Form: The format (long/short) might affect how certain audiences engage with the content.

Program - Category, Program - Sub Category: Specific categorization can provide insights into the niche or mainstream appeal of a show.

Exposures, Minutes Viewed, NO.of Telecasts: Historical viewership data can be predictive of future show success, especially if you’re looking at similar types of content.

Program - Production Year: Understanding the production timeline might help track trends in content that succeed based on the year they were produced.

Program - Series Name, Program - Series Code: Series names and codes are essential for tracking specific show performances.